body{
    display: flex;
    flex-direction: column;
}

.jensen{
    width: 300px;
    height: auto;
    flex-shrink: 1;
}

.mike{
    width: 150px;
    height: auto;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-1, .footer, .header{
    background-color: #1f2937;
    color: white;
}

.body-3{
    background-color: #e5e7eb;
}

.body-1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 295px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}


.hero{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 810px;

}

.sign-in{
    align-self: first baseline;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text{
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo{
    font-size: 24px #f9faf8;
}

button{
    background-color: #3882f6;
}

.body-2{
    display: flex;
    flex-direction: column;
}

.title-2{
    align-self: center;
    justify-self: center;
}

.mikes{
    display: flex;
    gap: 70px;
    justify-content: center;
}

.mike-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
